<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fm">

    <!-- 根据id查询 -->
   <select id="queryById" parameterType="Long" resultType="FinanceProd">
       SELECT * FROM fm_prod WHERE id=#{id} and status=1
    </select>
    <select id="queryByName" parameterType="String" resultType="FinanceProd">
       SELECT * FROM fm_prod WHERE name=#{name} and status=1
    </select>
    
    <sql id="queryLst_condition">
	<where>
	 status=1
		<if test="pageWhere1 !=null and pageWhere1 !='' ">AND username LIKE CONCAT(CONCAT('%',#{pageWhere1}),'%')</if>      
		<if test="pageWhere2 !=null and pageWhere2 !='' ">AND shop LIKE CONCAT(CONCAT('%',#{pageWhere2}),'%')</if>      
		<if test="pageWhere3 !=null and pageWhere3 !='' ">AND phone LIKE CONCAT(CONCAT('%',#{pageWhere3}),'%')</if>      
		<if test="pageWhere4 !=null and pageWhere4 !='' ">AND createDate LIKE CONCAT(CONCAT('%',#{pageWhere4}),'%')</if>
	</where>
	</sql>
	<!-- 总数查询 -->
	<select id="queryCount" resultType="Integer" parameterType="Map">
		select
		count(*) as count
		from fm_prod
		<include refid="queryLst_condition"/>
	</select>
   <!-- 分页查询数据 -->
	<select id="queryLst" parameterType="Map" resultType="FinanceProd">
		SELECT * FROM fm_prod
		 <include refid="queryLst_condition"/>
		<if test="sortName !=null and sortName !='' ">ORDER BY ${sortName} ${sortOrder}</if>
			limit #{offset},#{limit}
	</select>
    <insert id="insert" parameterType="FinanceProd" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO
		fm_prod(
		name,
		currency,
		start_amount,
		deadline,
		issue_date,
		profit,
		create_date,
		create_name,
		update_date,
		update_name
		)
		VALUES(#{name},#{currency},#{start_amount},#{deadline},#{issue_date},#{profit},
		#{create_date},#{create_name},#{update_date},#{update_name})
	</insert>
	
	 <update id="update" parameterType="FinanceProd">
		UPDATE fm_prod
		<trim prefix="set" suffixOverrides=",">
			<if test="gender != null">gender = #{gender},</if>
			<if test="phone != null">phone = #{phone},</if>
			<if test="email != null">email = #{email},</if>
			<if test="age != null">age = #{age},</if>
			<if test="birthday != null">birthday = #{birthday},</if>
			<if test="updateName != null">updateName = #{updateName},</if>
			<if test="updateDate != null">updateDate = #{updateDate}</if>
		</trim>
		WHERE id = #{id} AND status=1
	</update>
    <update id="delete" parameterType="Long">
		UPDATE fm_prod SET
	    status=0 WHERE id = #{id} AND status=1
	</update>
</mapper>